body {
    background-color: #dcd7c9;
}

hr {
    border-style: none;
    border-top: dotted;
    border-color: grey;
    width: 5%;
    border-width: 5px;
}

table {
    color: #420753;
    border: 4px;
    border-style: inset;
    border-color: darkgrey;
    background-color: #a27b5c;
}

h1 {
    background-color: #a27b5c;
    color: darkslategrey;
}

b {
    background-color: #dcd7c9;
}

th {
    color: black;
}

input {
    background-color: burlywood;
}